@import url("https://fonts.googleapis.com/css?family=Merriweather:700,900|Open+Sans:600&display=swap&subset=cyrillic");
body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.form-row {
  width: 100%; }

input {
  width: 100%; }

button {
  margin-top: 10px; }

progress {
  margin-top: 10px;
  width: 100%; }

html {
  box-sizing: border-box; }

*, *:after, *:before {
  box-sizing: inherit; }

body {
  background: #f6f6f6; }

.container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px; }
  .container--form-container {
    max-width: 638px; }
    @media screen and (max-width: 425px) {
      .container--form-container {
        padding-right: 10px;
        padding-left: 10px; } }

.header {
  margin: 0;
  margin-bottom: 84px;
  font: 900 42px 'Merriweather', serif;
  text-align: center; }

.form__header {
  color: #009688;
  text-align: center;
  font: 700 32px "Merriweather", serif; }
  .form__header:after {
    content: '';
    display: block;
    width: 50px;
    height: 7px;
    background-color: #009688;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px; }

.form__group {
  width: 100%;
  margin-bottom: 23px; }

.form__label {
  display: block;
  width: 100%;
  font: 600 22px "Open Sans", sans-serif; }

.form__input {
  width: 100%; }
  .form__input--big {
    height: 150px;
    resize: none; }
