@import 'mixins';
@import 'fonts';
@import 'choices';
@import 'progress-bar';

$background-color: #f6f6f6;
$color-accent: rgb(0, 150, 136);
$color-primary: rgb(229, 155, 68);
$input-backgroud: rgb(245, 245, 245);
$input-border-color: rgb(229, 229, 229);
$color-gray: #d3d3d3;
$color-red: rgb(163, 2, 2);
$color-modal-content-background: rgb(254, 254, 254);

$heading-font: 700 32px 'Merriweather', serif;
$label-font: 600 22px 'Open Sans', sans-serif;
$input-font: 400 16px 'Open Sans', sans-serif;
$button-font: 600 16px 'Open Sans', sans-serif;

/* TOOLS */

html {
    box-sizing: border-box;
}

* {
    &,
    &:after,
    &:before {
        box-sizing: inherit;
    }
}

body {
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.progress {
    width: 100%;
    font: $label-font;
}

.progress-bg {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: $color-primary;
    height: 20px;
}

.progress-bar {
    background-color: $color-accent;
}

/***/

.choices,
.choices__list--multiple .choices__item,
.choices__list--multiple .choices__item.is-highlighted {
    font: $input-font;
}

.choices__list--multiple .choices__item,
.choices__list--multiple .choices__item.is-highlighted {
    background-color: $color-accent;
    border-color: $color-accent;
    font-size: 14px;
}

.container {
    margin: 0px;
    padding: 0px;
    max-width: 1200px;
    min-height: 200vh;

    &--add-recipe {
        max-width: 100%;
        background-color: $background-color;
    }

    &--firestore-test {
        max-width: 800px;
    }
}

.add-recipe {
    // width of form 640px, width of container 800px

    &__heading {
        margin: 0;
        padding: 0;
        font: 900 42px 'Merriweather', serif;
        text-align: center;
    }
}

.modal-after-upload {
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    &__text {
        margin: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-modal-content-background;
        border-radius: 10px;
        padding: 20px;
        width: 660px;
        max-width: 660px;
    }

    &__text {
        font: $label-font;
    }

    &__progress-bar {
        width: 100%;
    }

    &__button {
        display: inline-block;
        height: 40px;
        background-color: $color-primary;
        color: white;
        font: $button-font;
        align-self: center;
        border: 0px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba($color-primary, 0.8);
        }

        &:disabled,
        &[disabled] {
            background-color: #ccc;
            color: #666;
        }
    }
}

.firestore-test {
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__form {
        width: 100%;
    }

    &__file-input {
        width: 100%;
    }

    &__upload-button {
        margin-top: 10px;
    }

    &__progress {
        margin-top: 10px;
        width: 100%;
    }
}

.recipe-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    &__section {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    &__heading {
        color: $color-accent;
        text-align: center;
        font: $heading-font;
        margin: 0;
        &:after {
            content: '';
            display: block;
            width: 50px;
            height: 7px;
            background-color: $color-accent;
            border-radius: 5px;
            margin: 0 auto;
            margin-top: 10px;
        }
    }

    &__item {
        width: 100%;
    }

    &__label {
        display: block;
        width: 100%;
        font: $label-font;
    }

    &__input {
        width: 100%;
        border: 1px solid $input-border-color;
        background-color: white;
        border-radius: 0;
        height: 40px;
        padding: 0;
        padding-left: 5px;
        font-size: 28px;
        font: $input-font;

        &--big {
            height: 150px;
            resize: none;
            padding-top: 5px;
        }

        &--file {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;

            & + label {
                font: $button-font;
                color: white;
                background-color: $color-primary;
                display: inline-block;
                cursor: pointer;
                transition: background-color 1s;
                padding: 5px;
                border-radius: 5px;
                text-align: center;
                width: 25%;
            }
            &:focus + label,
            & + label:hover {
                background-color: rgba($color-primary, 0.8);
            }
        }
    }

    &__button {
        display: inline-block;
        width: 50%;
        height: 50px;
        background-color: $color-primary;
        color: white;
        font: $button-font;
        align-self: center;
        border: 0px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba($color-primary, 0.8);
        }

        &--delete {
            background-color: $color-accent;
            color: white;
        }

        &--delete:hover {
            background-color: rgba($color-accent, 0.8);
        }

        &--delete-small {
            background-color: $color-accent;
            color: white;
            width: 40px;
            height: 40px;
            position: relative;
            border-radius: 50%;
            &:after {
                @extend .material-icons;
                content: 'close';
                position: absolute;
                font-size: 20px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &--delete-small:hover {
            background-color: rgba($color-accent, 0.8);
        }

        &--submit {
            background-color: $color-red;
        }

        &--submit:hover {
            background-color: rgba($color-red, 0.8);
        }

        &--reset {
            background-color: gray;
        }

        &--reset:hover {
            background-color: rgba(gray, 0.8);
        }
    }

    &__step {
        // width: calc(100% + 640px - 614px);
        // margin-left: calc((640px - 614px) / -2);
        display: flex;
        flex-direction: column;
        border: 2px solid $input-border-color;
        box-shadow: 0 15px 15px -5px $input-border-color;
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 24px;
        border-radius: 20px;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    &__step-header {
        font: $heading-font;
        text-align: center;
        border: 0;
        box-shadow: none;
        padding-right: 20px;
        padding-left: 20px;
    }

    &__preview-image {
        display: block;
        width: 100%;
        height: auto;
    }
}

.wrapper {
    &-ingredient {
        display: flex;

        &__item {
            margin-left: 10px;
            flex-basis: 100px;
            align-self: flex-end;

            &--name {
                flex-grow: 3;
                margin-left: 0;
            }
            &--button {
                flex-basis: 50px;
            }
        }
    }

    &-timer {
        display: flex;

        &__item {
            margin-left: 5px;
            flex-basis: 50px;
            align-self: flex-end;

            &--time {
                flex-grow: 3;
            }

            &--format {
                flex-basis: 25%;
            }
        }

        &__item:first-child {
            margin-left: 0;
        }
    }
}

.recipe-form__section + .recipe-form__section {
    padding-top: 60px;
}

.add-recipe__heading {
    padding-top: 20px;
}
.add-recipe__heading + .recipe-form {
    margin-top: 84px;
}

.recipe-form__heading + .recipe-form__item,
.recipe-form__heading + .wrapper,
.recipe-form__heading + .recipe-form__step,
.recipe-form__button--submit,
.recipe-form__heading + .recipe-form__button {
    margin-top: 36px;
}

.recipe-form__item + .recipe-form__item,
.recipe-form__item + .wrapper,
.wrapper + .recipe-form__button,
.wrapper + .wrapper,
.recipe-form__step + .recipe-form__step {
    margin-top: 25px;
}

.recipe-form__label + * {
    margin-top: 10px;
}

.recipe-form__input[type='file'] + label {
    margin-top: 10px;
}

.recipe-form__item + .recipe-form__heading,
.recipe-form__button + .recipe-form__heading,
.recipe-form__button--submit {
    margin-top: 84px;
}

.recipe-form__step + .recipe-form__button {
    margin-top: 50px;
}

.recipe-form__step > .recipe-form__button {
    margin-left: 25%;
}

label + .recipe-form__preview-image {
    margin-top: 25px;
}

.recipe-form__button--reset {
    margin-top: 25px;
    margin-bottom: 25px;
}

.recipe-form__button {
    text-align: center;
}

.container > .section {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 660px;
}
.container > .modal {
    max-width: 100%;
    padding: 0 10px;
}

.progress + .modal-after-upload__button {
    margin-top: 20px;
}
.modal-after-upload__text + .progress {
    margin-top: 20px;
}
