<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport">
    <meta content="id=edge"
          http-equiv="X-UA-Compatible">
    <link rel="stylesheet"
          href="style/style.css">
    <title></title>
</head>

<body>
    <header class="main-header"></header>
    <main class="container container--add-recipe">
        <h1 class="visually-hidden">Форма добавления реце</h1>
        <section class="section add-recipe">
            <h2 class="add-recipe__heading">Добавить рецепт</h2>
            <form class="recipe-form form"
                  action=""
                  method="post"
                  name="recipeForm">
                <section class="recipe-form__section recipe-form__section--info">
                    <h3 class="recipe-form__heading">Описание рецепта</h3>
                    <div class="recipe-form__item"><label class="recipe-form__label"
                               for="name">Название рецепта</label><input class="recipe-form__input"
                               type="text"
                               name="name"
                               id="name"></div>
                    <div class="recipe-form__item"><label class="recipe-form__label"
                               for="description">Описание рецепта</label><textarea class="recipe-form__input recipe-form__input--big"
                                  name="description"
                                  id="description"></textarea></div>
                    <div class="recipe-form__item"><label class="recipe-form__label">Превью рецепта</label><input class="recipe-form__input recipe-form__input--file"
                               name="imagePreviewDownloadUrl"
                               id="imagePreviewDownloadUrl"
                               type="file"><label for="imagePreviewDownloadUrl">Выбрать файл</label><img class="recipe-form__preview-image recipe-form__preview-image--cover-image"
                             src=""><input type="hidden"
                               name="imagePreviewAbsoluteUrl"></div>
                    <div class="recipe-form__item"><label class="recipe-form__label"
                               for="categories">Категории</label><select class="recipe-form__input recipe-form__input--multiple"
                                name="categories"
                                id="categories"
                                multiple="multiple"></select></div>
                </section>
                <section class="recipe-form__section recipe-form__section--ingredients">
                    <h3 class="recipe-form__heading">Ингредиеты</h3><button class="recipe-form__button recipe-form__button--add-ingredient"
                            type="button">Добавить Ингредиент</button>
                </section>
                <section class="recipe-form__section recipe-form__section--steps">
                    <h3 class="recipe-form__heading">Шаги</h3><button class="recipe-form__button recipe-form__button--add-step"
                            type="button">Добавить новый шаг</button>
                </section><button class="recipe-form__button recipe-form__button--submit"
                        type="submit">Загрузить рецепт</button><button class="recipe-form__button recipe-form__button--reset"
                        type="reset">Обнулить форму</button>
            </form>
        </section>
        <section class="modal modal-after-upload visually-hidden">
            <div class="modal-after-upload__content">
                <h2 class="modal-after-upload__header visually-hidden"></h2>
                <p class="modal-after-upload__text">Загружаю</p>
                <div class="progress">
                    <progress class="modal-after-upload__progress-bar"
                              max="100"
                              value="0">
                    </progress>
                    <div class="progress-value"></div>
                    <div class="progress-bg">
                        <div class="progress-bar"></div>
                    </div>
                </div>
                <button class="modal-after-upload__button"
                        type="button"
                        disabled>Новый рецепт</button>
            </div>
        </section>
    </main>
    <footer class="main-footer"></footer>
    <script src="js/script.min.js"></script>
</body>

</html>
